
<!--今後、delete前にアラート鳴らして『削除しますか？』を入れる。-->
<div class="schedule_<%= s.id %>">
	<p><%= s.date %></p>
	<!--'remote: true'で、リクエストがhtml形式ではなくjs形式になる。-->
	<h4><%= link_to s.title,schedule_path(s), method: :delete, remote: true, class: "schedule_item" %></h4>
</div>